<!DOCTYPE html>
<html land="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LOGIN</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

        <script src='/javascripts/main.js'></script>
    </head>

    <body style="background-color: dimgrey">
        <!--        Page Container-->
        <div class="container-fluid mt-2">


            <div class="card">
                <div class="card-header text-center"><h3><%=title %></h3></div>
                    <div class="card-body">
                        <form action="/login" method="post" style="margin:5px">
                            <label for="acc_lvl">Access Level</label>
                            <div class="form-group">
                                <select class="form-control" id="acc_lvl" name="acc_lvl">
                                    <option>Waiter</option>
                                    <option>Kitchen</option>
                                    <option>Counter</option>
                                    <option>Admin</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" id="username" placeholder="Username" min="0" maxlength="30" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" id="password" placeholder="Password" maxlength="100" required>
                            </div>
                            <button type="submit" value="Send" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                    <div class="card-footer text-center"><%=description %></div>
                    </div>




                </div>
                </body>
            </html>



        <!--<h1><%=title %></h1>

<p><%=description %></p>

<form method="post">
<div>
<label>Sex:</label><br />
<select type="text" name="sex" id="sex" required >
<option value='m'>male</option>
<option value='f'>female</option>
</select><br/><br/>
</div>

<div>
<label>Age:</label><br />
<input type="number" name="age" id="age" required ><br/><br/>
</div>

<div>
<label>WPM:</label><br/>
<input type="number" name="wpm" id="wpm" required><br/><br/>
</div>

<div>
<input type="submit" value="Send" /><br/><br/>
</div>
</form>
<hr>
<table>
<tr>
<th>Name</th> <th>Age</th> <th>Sex</th> <th>WPM</th>
</tr>
<%	for (var i=0; i<data.length; i++){ %>
<tr>
<td><%= data[i].name %></td>
<td><%= data[i].age %></td>
<td><%= data[i].sex %></td>
<td><%= data[i].wpm %></td>
</tr>
<% } %>
</table>-->